:root {
  /* start color */
  --main1: #19c8fa;
  --main2: #3d3d3de5;
  --white: #fff;
  --black: #000;
  /* end color */
  /* start padding */
  --p-top: 95px;
  --p-normal: 60px;
  --p-smal: 20px;
  /* end padding */
}
