/* ============================ start home ============================*/

.home {
  @extend %white;
  background-size: cover;
  .overlay {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.75);
    .containt {
      @extend %p-r;
      animation: slideِContent 0.3s;
      margin-top: 30px;
      &::before {
        @extend %p-a;
        content: "";
        width: calc(50% + 10px);
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(#19c8fa, 0.5);
        border-radius: 0 4px 4px 0;
      }
      .container {
        .box_slide {
          @extend %p-r;
          width: 50%;
          padding: 20px 5px;
          h1 {
            @extend %t-u;
            line-height: 1.5;
            font-weight: normal;
          }
          p {
            color: rgba(255, 255, 255, 0.818);
            word-spacing: 1px;
          }
        }
      }
      .change-slider {
        @extend %p-a;
        @extend %tra1;
        @extend %main2;
        top: calc(50% - 30px);
        font-size: 30px;
        padding: 20px;
        z-index: 1;
        &.left {
          left: 0;
        }
        &.right {
          right: 0;
        }
        i {
          @extend %cursor;
          &:hover {
            @extend %white;
          }
        }
      }
      .list-items {
        @extend%p-a;
        bottom: 10px;
        left: 50%;
        margin: 0;
        list-style: none;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        li {
          @extend %cursor;
          @extend %tra1;
          width: 25px;
          height: 6px;
          border: 1px solid var(--main1);
          border-radius: 50%;
          -webkit-border-radius: 5px;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
          display: inline-block;
          margin: 5px;
          &.active,
          &:hover {
            @extend %tra1;
            @extend %cursor;
            background-color: var(--main1);
          }
        }
      }
    }
  }
}

@media (max-width: 970px) {
  .home {
    .overlay {
      .containt {
        &::before {
          background-color: transparent;
        }
        .box_slide {
          width: 100% !important;
        }
      }
      .change-slider {
        display: none;
      }
    }
  }
}

/* ============================ end home ============================*/
@keyframes slideِContent {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
